# Python Dictionaries: Medical Insurance Project

You have been asked to create a program that organizes and updates medical records efficiently.

In this project, you will use your new knowledge of Python dictionaries to create a database of medical records for patients.

Let's get started!

## Storing Patient Names and Insurance Costs

1. We would like to keep a record of medical patients and their insurance costs.

   First, create an empty dictionary called `medical_costs`.

In [2]:
medical_costs = {}

2. Let's populate our `medical_costs` dictionary by adding the following key-value pairs:
   - Add `"Marina"` to `medical_costs` as a key with a value of `6607.0`.
   - Add `"Vinay"` to `medical_costs` as a key with a value of `3225.0`.

In [3]:
medical_costs['Marina'], medical_costs["Vinay"] = 6607.0, 3225.0

3. Using one line of code, add the following three patients to the `medical_costs` dictionary:
   - `"Connie"`, with an insurance cost of `8886.0`.
   - `"Isaac"`, with an insurance cost of `16444.0`.
   - `"Valentina"`, with an insurance cost of `6420.0`.

In [4]:
medical_costs.update({"Connie": 8886.0, "Issac": 16444.0, "Valentina": 6420.0})

4. Print `medical_costs`. Make sure the dictionary is what you expected.

In [5]:
print(medical_costs)

{'Marina': 6607.0, 'Vinay': 3225.0, 'Connie': 8886.0, 'Issac': 16444.0, 'Valentina': 6420.0}

5. You notice that `Vinay`'s insurance cost was incorrectly inputted. Update the value associated with `Vinay` to `3325.0`.

   Print the updated dictionary.

In [6]:
medical_costs['Vinay'] = 3325.0
print(medical_costs)

{'Marina': 6607.0, 'Vinay': 3325.0, 'Connie': 8886.0, 'Issac': 16444.0, 'Valentina': 6420.0}

6. Let's calculate the average medical cost of each patient. Create a variable called `total_cost` and set it equal to 0.

   Next, iterate through the values in `medical_costs` and add each value to the `total_cost` variable.

In [7]:
total_cost = 0
for cost in medical_costs.values():
    total_cost += cost
print(f"Total Cost: ${total_cost}")

Total cost: $41682.0

7. After the loop, create a variable called `average_cost` that stores the `total_cost` divided by the length of the `medical_costs` dictionary.

   Print `average_cost` with the following message:
   
   ```
   Average Insurance Cost: {average_cost}
   ```

In [10]:
average_cost = total_cost / len(medical_costs)
print(f"Average Insurance Cost: ${average_cost}")

Average Insurance Cost: $8336.4

## List Comprehension to Dictionary

8. You have been asked to create a second dictionary that maps patient names to their ages.

   First, create two lists called `names` and `ages` with the following data:
   
   names | ages
   --- | ---
   Marina | 27
   Vinay | 24
   Connie | 43
   Isaac | 35
   Valentina | 52

In [11]:
names = [
    "Marina",
    "Vinay",
    "Connie",
    "Isaac",
    "Valentina"
]
ages = [27, 24, 43, 35, 52]

9. Next, create a variable called `zipped_ages` that is a zipped list of pairs between the `names` list and the `ages` list.

In [26]:
zipped_ages = list(zip(names, ages))
print(zipped_ages)

[('Marina', 27), ('Vinay', 24), ('Connie', 43), ('Isaac', 35), ('Valentina', 52)]

10. Create a dictionary called `names_to_ages` by using a list comprehension that iterates through `zipped_ages` and turns each pair into a key : value item.

    Print `names_to_ages` to see the result.

In [27]:
names_to_ages = {name:age for name, age in zipped_ages}
print(names_to_ages)

{'Marina': 27, 'Vinay': 24, 'Connie': 43, 'Isaac': 35, 'Valentina': 52}

11. Use `.get()` to get the value of Marina's age and store it in a variable called `marina_age`. Use `None` as a default value if the key doesn't exist.

    Print `marina_age` with the following message:
    
    ```
    Marina's age is {marina_age}
    ```

In [28]:
marina_age = names_to_ages.get('Marina', None)
print(f"Marina's age is {marina_age}")

Marina's age is 27

## Using a Dictionary to Create a Medical Database

12. Let's create a third dictionary to represent a database of medical records that contains information such as a patient's name, age, sex, gender, BMI, number of children, smoker status, and insurance cost.

    First, create an empty dictionary called `medical_records`.

In [29]:
medical_records = {}

13. Next, add `"Marina"` to `medical_records` as a key with the value being a dictionary of medical data:

    ```py
    {"Age": 27, "Sex": "Female", "BMI": 31.1, "Children": 2, "Smoker": "Non-smoker", "Insurance_cost": 6607.0}
    ```

In [30]:
medical_records['Marina'] = {
    "Age": 27,
    "Sex": "Female",
    "BMI": 31.1,
    "Children": 2,
    "Smoker": "Non-smoker",
    "Insurance_cost": 6607.0
}
print(medical_records)

{'Marina': {'Age': 27, 'Sex': 'Female', 'BMI': 31.1, 'Children': 2, 'Smoker': 'Non-smoker', 'Insurance_cost': 6607.0}}

14. Do the same for the following individuals:
    
    Name | Age | Sex | BMI | Children | Smoker | Insurance Cost
    --- | --- | --- | --- | --- | --- | ---
    Vinay | 24 | Male | 26.9 | 0 | Non-smoker | 3225.0
    Connie | 43 | Female | 25.3 | 3 | Non-smoker | 8886.0
    Isaac | 35 | Male | 20.6 | 4 | Smoker | 16444.0
    Valentina | 52 | Female | 18.7 | 1 | Non-smoker | 6420.0

In [32]:
names = ['Vinay', 'Connie', 'Isaac', 'Valentina']
ages = [24, 43, 35, 52]
sexes = ['Male', 'Female', 'Male', 'Female']
bmis = [26.9, 25.3, 20.6, 18.7]
childrens = [0, 3, 4, 1]
smokers = ["Non-smoker", "Non-smoker","Smoker", "Non-smoker"]
insurance_costs = [3325.0, 8886.0, 16444.0, 6420.0]

for i in range(len(names)):
    medical_records[names[i]] = {
        "Age": ages[i],
        "Sex": sexes[i],
        "BMI": bmis[i],
        "Children": childrens[i],
        "Smoker": smokers[i],
        "Insurance_cost": insurance_costs[i]
    }

15. Print `medical_records` to see the result.

In [40]:
print(medical_records)

def pretty_print_records():
    for name, data in medical_records.items():
        print(f"\nNAME: {name}\n")
        for k, v in data.items():
            print(f"\t{k}: {v}")
        print('-'*115)
        
pretty_print_records()

{'Marina': {'Age': 27, 'Sex': 'Female', 'BMI': 31.1, 'Children': 2, 'Smoker': 'Non-smoker', 'Insurance_cost': 6607.0}, 'Vinay': {'Age': 24, 'Sex': 'Male', 'BMI': 26.9, 'Children': 0, 'Smoker': 'Non-smoker', 'Insurance_cost': 3325.0}, 'Connie': {'Age': 43, 'Sex': 'Female', 'BMI': 25.3, 'Children': 3, 'Smoker': 'Non-smoker', 'Insurance_cost': 8886.0}, 'Isaac': {'Age': 35, 'Sex': 'Male', 'BMI': 20.6, 'Children': 4, 'Smoker': 'Smoker', 'Insurance_cost': 16444.0}, 'Valentina': {'Age': 52, 'Sex': 'Female', 'BMI': 18.7, 'Children': 1, 'Smoker': 'Non-smoker', 'Insurance_cost': 6420.0}}

NAME: Marina

	Age: 27
	Sex: Female
	BMI: 31.1
	Children: 2
	Smoker: Non-smoker
	Insurance_cost: 6607.0
-------------------------------------------------------------------------------------------------------------------

NAME: Vinay

	Age: 24
	Sex: Male
	BMI: 26.9
	Children: 0
	Smoker: Non-smoker
	Insurance_cost: 3325.0
-------------------------------------------------------------------------------------------------------------------

NAME: Connie

	Age: 43
	Sex: Female
	BMI: 25.3
	Children: 3
	Smoker: Non-smoker
	Insurance_cost: 8886.0
-------------------------------------------------------------------------------------------------------------------

NAME: Isaac

	Age: 35
	Sex: Male
	BMI: 20.6
	Children: 4
	Smoker: Smoker
	Insurance_cost: 16444.0
-------------------------------------------------------------------------------------------------------------------

NAME: Valentina

	Age: 52
	Sex: Female
	BMI: 18.7
	Children: 1
	Smoker: Non-smoker
	Insurance_cost: 6420.0
-------------------------------------------------------------------------------------------------------------------

16. The `medical_records` dictionary acts like a database of medical records. Let's access a specific piece of data in `medical_records`.

    Print out `Connie`'s insurance cost with the following message:
    
    ```
    Connie's insurance cost is X dollars.
    ```

In [38]:
print(f"Connie's insurance cost is {medical_records['Connie']['Insurance_cost']} dollars.")

Connie's insurance cost is 8886.0 dollars.

17. `Vinay` has moved to a new country, and we no longer want to include him in our medical records.

    Remove `Vinay` from `medical_records`.

In [42]:
medical_records.pop('Vinay')
pretty_print_records()

NAME: Marina

	Age: 27
	Sex: Female
	BMI: 31.1
	Children: 2
	Smoker: Non-smoker
	Insurance_cost: 6607.0
-------------------------------------------------------------------------------------------------------------------

NAME: Connie

	Age: 43
	Sex: Female
	BMI: 25.3
	Children: 3
	Smoker: Non-smoker
	Insurance_cost: 8886.0
-------------------------------------------------------------------------------------------------------------------

NAME: Isaac

	Age: 35
	Sex: Male
	BMI: 20.6
	Children: 4
	Smoker: Smoker
	Insurance_cost: 16444.0
-------------------------------------------------------------------------------------------------------------------

NAME: Valentina

	Age: 52
	Sex: Female
	BMI: 18.7
	Children: 1
	Smoker: Non-smoker
	Insurance_cost: 6420.0
-------------------------------------------------------------------------------------------------------------------

18. Let's take a closer look at each patient's medical record.

    Use a `for` loop to iterate through the items of `medical_records`. For each key-value pair, print out a string that looks like the following:
    
    ```
    {Name} is a {Age} year old {Sex} {Smoker} with a BMI of {BMI} and insurance cost of {Insurance_cost}
    ```

In [44]:
for name, data in medical_records.items():
    print(
        f"{name} is a {data['Age']} year old " +
        f"{data['Sex']} {data['Smoker']} with a " + 
        f"BMI of {data['BMI']} and insurance cost of {data['Insurance_cost']}"
    )

Marina is a 27 year old Female Non-smoker with a BMI of 31.1 and insurance cost of 6607.0
Connie is a 43 year old Female Non-smoker with a BMI of 25.3 and insurance cost of 8886.0
Isaac is a 35 year old Male Smoker with a BMI of 20.6 and insurance cost of 16444.0
Valentina is a 52 year old Female Non-smoker with a BMI of 18.7 and insurance cost of 6420.0

## Extra

19. Congratulations! In this project, you used Python dictionaries to store and update medical data for individuals.

    If you'd like extra practice with dictionaries, here are some suggestions to go further with this project:
    - Create a function called `update_medical_records()` that takes in the name of an individual as well as their medical data, and then updates the `medical_records` dictionary accordingly.
    - Create a new dictionary of your choice - feel free to get creative!
    
    Happy coding!

In [48]:
def update_medical_records(name, data):
    medical_records[name] = data
    print(f"{name} added to records with data:\n{data}\n")

data_trianan = {
    "Age": 26,
    "Sex": "Male",
    "BMI": 26.1,
    "Children": 0,
    "Smoker": "Non-smoker",
    "Insurance_cost": 3407.0
}
update_medical_records('Trianan', data_trianan)
pretty_print_records()

Trianan added to records with data:
{'Age': 26, 'Sex': 'Male', 'BMI': 26.1, 'Children': 0, 'Smoker': 'Non-smoker', 'Insurance_cost': 3407.0}


NAME: Marina

	Age: 27
	Sex: Female
	BMI: 31.1
	Children: 2
	Smoker: Non-smoker
	Insurance_cost: 6607.0
-------------------------------------------------------------------------------------------------------------------

NAME: Connie

	Age: 43
	Sex: Female
	BMI: 25.3
	Children: 3
	Smoker: Non-smoker
	Insurance_cost: 8886.0
-------------------------------------------------------------------------------------------------------------------

NAME: Isaac

	Age: 35
	Sex: Male
	BMI: 20.6
	Children: 4
	Smoker: Smoker
	Insurance_cost: 16444.0
-------------------------------------------------------------------------------------------------------------------

NAME: Valentina

	Age: 52
	Sex: Female
	BMI: 18.7
	Children: 1
	Smoker: Non-smoker
	Insurance_cost: 6420.0
-------------------------------------------------------------------------------------------------------------------

NAME: Trianan

	Age: 26
	Sex: Male
	BMI: 26.1
	Children: 0
	Smoker: Non-smoker
	Insurance_cost: 3407.0
-------------------------------------------------------------------------------------------------------------------

In [59]:
squares = {
    str(n)+'^2':{"Expansion":n**2, "Even":(True if (n**2)%2 == 0 else False)} for n in range(25)
}
total_evens = 0
total_odds = 0
for n, attributes in squares.items():
    print(n)
    if attributes['Even'] == True:
        total_evens += 1
    else: 
        total_odds += 1
        
    for attribute, value in attributes.items():
        print(f"\t{attribute}: {value}")
    print('-'*115)
print(f"Total even numbers: {total_evens}\nTotal odd numbers:  {total_odds}")
# This is because any odd-number times an odd-number will yield an odd square.

0^2
	Expansion: 0
	Even: True
-------------------------------------------------------------------------------------------------------------------
1^2
	Expansion: 1
	Even: False
-------------------------------------------------------------------------------------------------------------------
2^2
	Expansion: 4
	Even: True
-------------------------------------------------------------------------------------------------------------------
3^2
	Expansion: 9
	Even: False
-------------------------------------------------------------------------------------------------------------------
4^2
	Expansion: 16
	Even: True
-------------------------------------------------------------------------------------------------------------------
5^2
	Expansion: 25
	Even: False
-------------------------------------------------------------------------------------------------------------------
6^2
	Expansion: 36
	Even: True
-------------------------------------------------------------------------------------------------------------------
7^2
	Expansion: 49
	Even: False
-------------------------------------------------------------------------------------------------------------------
8^2
	Expansion: 64
	Even: True
-------------------------------------------------------------------------------------------------------------------
9^2
	Expansion: 81
	Even: False
-------------------------------------------------------------------------------------------------------------------
10^2
	Expansion: 100
	Even: True
-------------------------------------------------------------------------------------------------------------------
11^2
	Expansion: 121
	Even: False
-------------------------------------------------------------------------------------------------------------------
12^2
	Expansion: 144
	Even: True
-------------------------------------------------------------------------------------------------------------------
13^2
	Expansion: 169
	Even: False
-------------------------------------------------------------------------------------------------------------------
14^2
	Expansion: 196
	Even: True
-------------------------------------------------------------------------------------------------------------------
15^2
	Expansion: 225
	Even: False
-------------------------------------------------------------------------------------------------------------------
16^2
	Expansion: 256
	Even: True
-------------------------------------------------------------------------------------------------------------------
17^2
	Expansion: 289
	Even: False
-------------------------------------------------------------------------------------------------------------------
18^2
	Expansion: 324
	Even: True
-------------------------------------------------------------------------------------------------------------------
19^2
	Expansion: 361
	Even: False
-------------------------------------------------------------------------------------------------------------------
20^2
	Expansion: 400
	Even: True
-------------------------------------------------------------------------------------------------------------------
21^2
	Expansion: 441
	Even: False
-------------------------------------------------------------------------------------------------------------------
22^2
	Expansion: 484
	Even: True
-------------------------------------------------------------------------------------------------------------------
23^2
	Expansion: 529
	Even: False
-------------------------------------------------------------------------------------------------------------------
24^2
	Expansion: 576
	Even: True
-------------------------------------------------------------------------------------------------------------------
Total even numbers: 13
Total odd numbers:  12